<ion-header>
  <ion-toolbar color="light">
    <ion-title>Github Search</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <!-- Item Labels -->
<ion-item>
  <ion-label>xxxxx repository results</ion-label>
</ion-item>

  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-label text-wrap color="primary">
        {{ item.full_name }}
        <h3>{{ item.description }}</h3>
        <h3>Updated on {{ item.updated_at }}</h3>
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>